<%- include partials/header.ejs %>

<section id="articles" class="py-5">
  <div class="container">
    <h1>
      <%= title %>
    </h1>
    <hr class="mb-5">

    <div class="row">
      <div class="col">
        <ul class="list-group">
          <% articles.forEach((article) => { %>
          <li class="list-group-item">
            <h3><a href="/articles/show/<%= article._id %>" class="text-info">
                <%= article.title %></a></h3>
            <div>
              <p class="mb-0">Created:
                <%= moment(article.created_at).format("MMMM Do YYYY, h:mma") %>
              </p>
              <p class="mb-0">Author:
                <%= article.author %>
              </p>
            </div>
          </li>
          <% }); %>
        </ul>
      </div>
    </div>
  </div>
</section>

<%- include partials/footer.ejs %>