<%- include partials/header.ejs %>

<section id="articles" class="py-5">
  <div class="container">
    <h1>
      <%= title %>
    </h1>
    <hr class="mb-5">

    <div class="row">
      <div class="col">
        <ul class="list-group">
          <% articles.forEach((article) => { %>
          <li class="list-group-item">
            <a href="/articles/category/<%= article._id %>" class="text-dark">
              <%= article.title %></a></li>
          <% }); %>
        </ul>
      </div>
    </div>
  </div>
</section>

<%- include partials/footer.ejs %>