<%- include partials/header.ejs %>

<section id="feature" class="text-light d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="display-2 mt-5">SportsBlog</h1>
        <p class="lead">Get your sports fix today!</p>
      </div>
    </div>
  </div>
</section>

<section id="articles" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <ul class="list-group">
          <% articles.forEach((article) => { %>
          <li class="list-group-item">
            <h2 class=><a href="/articles/show/<%= article._id %>" class="text-info"><%= article.title %></a></h2>
            <h5><%= article.subtitle %></h5>
            <p class="mb-0">Posted By: <%= article.author %> on <%= moment(article.created_at).format("MMMM Do YYYY, h:mma") %></p>
          </li>
          <% }); %>
        </ul>
      </div>
    </div>
  </div>
</section>

<%- include partials/footer.ejs %>
