<%- include partials/header.ejs %>

<section id="manageArticles" class="py-5">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-9 text-center text-md-left">
        <h1 class="mb-0">
          <%= title %>
        </h1>
      </div>
      <div class="col-md-3 text-center text-md-right mt-3 mt-md-0">
        <a href="/manage/articles/add" class="btn btn-success">Add Article</a>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <hr class="mb-5">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <ul class="list-group">
          <% articles.forEach((article) => { %>
          <li class="list-group-item">
            <div class="d-flex align-items-center">
              <h3><%= article.title %></h3> <a href="/manage/articles/edit/<%= article._id %>" class="btn btn-warning btn-sm ml-auto">Edit</a>
            </div>
            <div>
              <p class="mb-0">Created: <%= article.created_at %></p>
              <p class="mb-0">Author: <%= article.author %></p>
            </div>
            </li>
          <% }); %>
        </ul>
      </div>
    </div>
  </div>
</section>

<%- include partials/footer.ejs %>